@import url("https://cesium.com/downloads/cesiumjs/releases/1.116/Build/Cesium/Widgets/widgets.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* We don't want to display the Cesium Ion logo as we're not using Ion.*/
.cesium-credit-logoContainer {
  display: none !important;
}

/* .top3DMapContainer {

} */

.bottomRight3DMap {
  pointer-events: none;
  overflow: hidden;
}

.bottomRight3DMap * {
  pointer-events: all;
}

.sampleCanvas {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 200px;
  height: 200px;
  border: 5px solid white;
}

.sliderWidget {
  display: inline-flex;
  width: 100% - 4px;
  height: 29px;
  background: white;
  border: 2px solid rgba(0, 0, 0, .2);
  border-radius: 4px;
  padding-left: 2px;
  padding-right: 6px;
  margin-right: 6px;
}

.sliderControlButton {
  background-color: white;
  border: none;
  color: black;
  padding: 4px 4px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  height: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.sliderControlButton:hover {
  background-color: #e4e4e4;
}

.rangeSlider {
  margin-left: 4px;
  margin-right: 4px;
}

/*  range CSS from https://range-input-css.netlify.app/ */

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #add8e6;
  border-radius: 0rem;
  height: 5px;
  border: 1px;
  border-color: black;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  margin-top: -7.5px;
  /* Centers thumb on the track */
  background-color: #808080;
  border-radius: 2px;
  height: 20px;
  width: 8px;
}

/* input[type="range"]:focus::-webkit-slider-thumb {
  outline: 1px solid #808080;
  outline-offset: 0px;
} */

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #add8e6;
  border-radius: 0rem;
  height: 5px;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #808080;
  border: none;
  /*Removes extra border that FF applies*/
  border-radius: 2px;
  height: 20px;
  width: 8px;
}

/* input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid #808080;
  outline-offset: 0.125rem;
} */